<!--

    Author: Joe Strickland
    EJS Template page for viewing an individual report page
    Date: April 16th, 2023

-->
<%- include("./partials/header.ejs") %>
    <body>
        <h1 class="siteHeader">%Month% Report</h1>
        <main>
            <div id="singleReportTable">
                <table>
                    <thead>
                      <tr>
                        <th>Joe's Cost</th>
                        <th>Mackay's Cost</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Rent: </td>
                        <td>Rent: </td>
                      </tr>
                      <tr>
                        <td>Cable:</td>
                        <td>Cable:</td>
                      </tr>
                      <tr>
                        <td>Trash Service Fee: </td>
                        <td>Trash Service Fee:</td>
                      </tr>
                      <tr>
                        <td>Amenity Fee: </td>
                        <td>Amenity Fee:</td>
                      </tr>
                      <tr>
                        <td>Alarm Fee:</td>
                        <td>Alarm Fee:</td>
                      </tr>
                      <tr>
                        <td>Door To Door Fee: </td>
                        <td>Door To Door Fee: </td>
                      </tr>
                      <tr>
                        <td>Insurance:</td>
                        <td>Insurance:</td>
                      </tr>
                      <tr>
                        <td>Electricity Fee:</td>
                        <td>Electricity Fee:</td>
                      </tr>
                      <tr>
                        <td>Pest Fee:</td>
                        <td>Pest Fee:</td>
                      </tr>
                      <tr>
                        <td>Water Fee: </td>
                        <td>Water Fee:</td>
                      </tr>
                      <tr>
                        <td>Billing Fee: </td>
                        <td>Billing Fee:</td>
                      </tr>
                      <tr>
                        <td>Storm Fee:</td>
                        <td>Storm Fee:</td>
                      </tr>
                      <tr>
                        <td>Trash Fee:</td>
                        <td>Trash Fee:</td>
                      </tr>
                      <tr>
                        <td>Sewer Fee:</td>
                        <td>Sewer Fee:</td>
                      </tr>
                      <tr>
                        <td>Total:</td>
                        <td>Total:</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>