<!--

    Author: Joe Strickland
    EJS Template page for viewing report pages
    Date: January 7th, 2023

-->
<%- include("./partials/header.ejs") %>
    <body>
        <main>
            hey check console.
        </main>
    </body>